@font-face { font-family: Kestia; src: url('../fonts/Kestia-Regular.ttf'); }
@font-face { font-family: Kestia; src: url('../fonts/Kestia-Regular.otf'); }
@font-face { font-family: Kestia; src: url('../fonts/Kestia-Regular.woff'); }

html {
  font-family: "Roboto Light", Roboto, Arial, sans-serif;; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 1.2rem;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EBE2D3;
  height: 100vh;
  overflow-x: hidden;
  color: black;
}

.container {
  position: relative;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  margin: 0;
}

h1 {font-weight: normal; font-size: 4rem; font-family: Kestia, Georgia, serif; margin: 0}
h2 {font-weight: normal; font-size: 4rem; font-family: Kestia, Georgia, serif; margin: 0}
h3 {font-weight: normal; font-size: 2rem; font-family: Kestia, Georgia, serif; margin: 0}
h4 {font-weight: normal; font-size: 1.8rem; font-family: "Roboto Regular", Roboto, sans-serif; margin: 0}
h5 {font-weight: normal; font-size: 1.2rem; font-family: "Roboto Regular", Roboto, sans-serif; margin: 0}

@media only screen and (max-width: 600px) {
  h1 {font-weight: normal; font-size: 2rem; font-family: Kestia, Georgia, serif; margin: 0}
  h2 {font-weight: normal; font-size: 2rem; font-family: Kestia, Georgia, serif; margin: 0}
  h3 {font-weight: normal; font-size: 1.4rem; font-family: Kestia, Georgia, serif; margin: 0}
  h4 {font-weight: normal; font-size: 1.2rem; font-family: "Roboto Regular", Roboto, sans-serif; margin: 0}
  h5 {font-weight: normal; font-size: 0.8rem; font-family: "Roboto Regular", Roboto, sans-serif; margin: 0}

  * {font-size: 0.8rem}
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  h1 {font-weight: normal; font-size: 3rem; font-family: Kestia, Georgia, serif; margin: 0}
  h2 {font-weight: normal; font-size: 3rem; font-family: Kestia, Georgia, serif; margin: 0}
  h3 {font-weight: normal; font-size: 2rem; font-family: Kestia, Georgia, serif; margin: 0}
  h4 {font-weight: normal; font-size: 1.6rem; font-family: "Roboto Regular", Roboto, sans-serif; margin: 0}
  h5 {font-weight: normal; font-size: 1rem; font-family: "Roboto Regular", Roboto, sans-serif; margin: 0}
}

a {text-decoration: none; color: black}

.space-small {
  height: 1vh;
}

.space-mid {
  height: 6vh;
}

.space-large {
  height: 12vh;
}

.display-flex {
  display: flex;
}

.pageHeader {
  justify-content: space-between;
  align-items: center;
  margin: 3% 0 5% 0;
}

.pageHeader a {
  opacity: 20%;
}

.pageHeader a:hover {
  opacity: 100%;
}

.star-center {
  height: 8vh;
}

.star-center svg{
  height: 100%;
  width: auto;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes scaling /* Safari and Chrome */ {
  from {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaling {
  from {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.star-center {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.turnhorizontal {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.reveal {
  transform: translateY(80px);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.reveal.show {
  transform: translateY(0px);
  opacity: 1;
}

.revealOnLoad {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.revealOnLoad.show {
  transform: translateY(0px);
  opacity: 1;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: mediumpurple;
}

/*NAVIGATION*/

.logo {
  display: flex;
  gap: 1%;
  width: 20%;
  height: 100%;
  padding: 5px;
}

.logo div:first-child {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.logo div:last-child {
  transform: translateX(10%);
  transition: transform 0.3s ease-in-out;
}

.logo:hover div:first-child {
  transform: translateX(70%);
}

.logo:hover div:last-child {
  transform: translateX(-180%);
}

.hamburger {
  z-index: 5;
  position: absolute;
  right: 1vw;
  top: 1vh;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger svg {
  height: auto;
  width: 0.8vw;
}

@media only screen and (max-width: 600px) {
  .hamburger svg {
    width: 2vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .hamburger svg {
    width: 1.6vw;
  }
}

.hamburger.active svg path {
  fill: white;
}

.nav-menu {
  display: block;
  position: fixed;
  top: 0;
  right: -35vw;
  width: 30vw;
  height: 100vh;
  background-color: black;
  z-index: 5;
  color: white;
  transition: right 1s;
}

.nav-menu.active {
  right: 0;
}

@media only screen and (max-width: 1000px) {
  .nav-menu.active {
    width: 100vw;
  }
}

.nav-menu .nav-content{
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.nav-menu .nav-item {
  display: block;
  margin-bottom: 10%;
  text-align: left;
  color: white;
}

.nav-menu.active .nav-item:hover {
  color: mediumpurple;
}

.undermenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  left: 0;
  top: 0;
  z-index: 4;
  display: none;
}

.undermenu.active {
  display: block;
}

/* LANDING PAGE */

.landingpage-title {
  margin: 3% 0 3% 0;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .landingpage-title {
    margin: 10% 0 10% 0;
  }
}

@media only screen and (max-width: 600px) {
  .landingpage-title {
    margin: 10% 0 10% 0;
  }
}

.landingpage-links {
  width: 90vw;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
  margin: 3% 0 0 0;
}

.landingpage-links>div {
  justify-content: space-between;
  gap: 5%;
  align-items: center;
}

.landingpage-links>div>a:hover {
  text-decoration: underline;
}

.landingpage-bg {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .landingpage-bg {
    height: 120vh;
  }
}

.landingpage-nav {
  width: 100vw;
  height: 0;
  display: flex;
  align-items: center;
}

/*WORKS*/

.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}

.work>div {
  margin-top: 3%;
}

.work {
  flex: calc(50% - 5vw);
  flex-wrap: wrap;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .work {
    flex: calc(100% - 5vw);
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .work {
    flex: calc(100% - 5vw);
  }
}

.work img {
  width: 100%;
}

/*SINGLE WORK*/

.workcover img {
  width: 100%;
}

.workinfo {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5%;
  flex-wrap: wrap;
}

.workinfo>div {
  width: calc(50% - 5vw);
  margin-top: 3%;
}

@media only screen and (max-width: 600px) {
  .workinfo>div {
    width: calc(100% - 5vw);
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .workinfo>div {
    width: calc(100% - 5vw);
  }
}

.workData>div {
  margin-bottom: 1vh;
}

.top-button {
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  width: auto;
  height: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: none;
}

.top-button:hover {
  color: mediumpurple;
  cursor: pointer;
}

.nextproject {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.nextproject:hover svg path {
  fill: mediumpurple;
}

.nextproject:hover {
  color: mediumpurple;
  cursor: pointer;
}

/*ABOUT*/

.alignRight {
  text-align: right;
}

.software div {
  margin-bottom: 1%;
}

.profilepic img {
  width: 100%;
  opacity: 50%;
}

#not-wrap {
  flex-wrap: nowrap;
}

.about-grid {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 5%;
  flex-wrap: wrap;
}

.about-grid>div {
  width: calc(50% - 5vw);
}

@media only screen and (max-width: 600px) {
  .about-grid>div {
    width: calc(100% - 5vw);
  }

  .aboutdescription {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .about-grid>div {
    width: calc(100% - 5vw);
  }

  .aboutdescription {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .profilepic img {
    content: url("../images/aboutpage/profilepic-square.png");
  }
}

.skill {
  border: 1px solid black;
  padding: 3%;
  margin-bottom: 5%;
}

.skill>div {
  width: 45%;
}

.skill div:first-child {
  font-weight: bold;
}

.skill div:last-child {
  text-align: right;
}

/*CONTACT*/

.contact {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.contact-links {
  justify-content: flex-start;
  gap: 5%;
  margin: 3% 0 5% 0;
}

.contact-links a {
  font-size: 4rem;
  color: white;
}

.contact-links a {
  opacity: 100%;
}

.contact-links a:hover {
  text-decoration: underline;
}

