html {
  font-family: 'Montserrat', sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  background: #F0EFED;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  height: 100vh;
}

.header {
  float: right;
  padding: 50px 0px 50px 0px;
}

.header a {
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  color: black;
}

#logo {
  float: left;
  padding: 50px 0px 50px 0px;
}

.sub-header {
  text-align: center;
}

.sub-header span {
  margin: 0 1%;
}

.footer {
  position: fixed;
  display: block;
  margin: 0;
  bottom: 0px;
  height: 12%;
  width: 100%;
  background-image: url("../images/footer.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 80vh;
}

.contactForm input, .contactForm textarea {
  background: #F0EFED;
  border-style: hidden hidden solid hidden;
  border-color: black;
  border-width: 1px;
  border-radius: 0;
  width: 30vw;
}

.contactForm textarea {
  border-style: solid;
  height: 20vh;
}

.button-primary {
  background: #F0EFED;
  border-style: hidden;
  border-color: black;
  border-width: 2px;
  border-radius: 0;
}

.space-small {
  height: 1vh;
}

.space-mid {
  height: 12vh;
}

.space-large {
  height: 24vh;
}

.thankyou {
  text-align: center;
}

/*CAROUSSEL*/

.outter {
  height: 35vh;
}

.inner {
  height: 100%;
  white-space: nowrap;

  transition: transform 1.5s;
  transform: translateX(50%);
}

.inner .work {
  height: 100%;
  width: 40vw;
  display: inline-block;
  position: relative;

  transform: translateX(-50%) scale(1);
  transition: transform 1.5s;
}

#highlight {
  transform: translate(-50%) scale(1.25);
  transition: transform 1.5s;
}

.inner .work div {
  height: 100%;
  width: 80%;
  margin: auto auto;
  position: relative;

  background: #B590C1;
}
